__pycache__/
\.vscode/
\.sonarlint/
__pycache__
*.pyc
*.asv
*.*~
deploy/videopc/bonsai/bin/
deploy/mesoscope/+ScanImageTiffReader/
deploy/serverpc/dlc/weights/
deploy/serverpc/iblsorter/run_iblsorter.sh
docs/_build
scratch/
src/
eye-mic-2019-04-16
nostril-mic-2019-04-22
paws-mic-2019-04-26
tongue-mic-2019-04-26
trainingRig-mic-2019-02-11
pybpod-api.log
iblrig.egg-info/
iblscripts.egg-info/
.*
!.pre-commit-config.yaml
!.coveragerc
